{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<!-- <h1>{% trans "Deleted Messages" %}</h1> -->
{% if message_list %}
<table class="messages">
    <thead class="message_head">
        <tr>
	<th style="padding:0 15px 15px 50px;">{% trans "Sender" %}</th>
	<th style="padding:0 15px 15px 0px;">{% trans "Subject" %}</th>
	<th style="padding:0 110px 15px 15px;">{% trans "Date" %}</th>
	<th style="padding:0 15px 15px 15px;">{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %}
    <tr class="message_tr">
        <td style="padding:0 15px 0 50px;"> <i> {{ message.sender }} </i> </td>
        <td>
        {{ message.subject }}
        </td>
        <td style="padding:0 0px 0 15px;">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td id="delete" style="padding:0 0px 0 15px;"><a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p style="padding:0 15px 0 50px;">{% trans "No messages." %}</p>
{% endif %}
<br />
<!-- <p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p> -->

<style type="text/css">

 a#trash{
     color: #fff;
 }

 #delete{
     cursor:pointer;
     color:blue;
 }

 .messages {
     width: 70%;
 }

 .message_tr {
     height: 50px;
     background: #ffffff;
 }
 
 .message_tr:hover {
     background: #eaeaea;
 }

 .message_head {
     font-size: 24px;
 }
</style>
{% endblock %}
