{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block pagecontent %}
    <div class="jumbotron">
            <h1 class="display-4">Welcome to iCraig!</h1>
            <p class="lead">iCraig is a community driven online marketplace for UVA students. Post an item for sale or browse and make a purchase.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/s" role="button">Get started!</a>
            </p>
    </div>
    {% endblock %}
</body>
</html>